#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.rows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.green {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: green;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.gray {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: gray;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: goldenrod;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.blank {
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  caret-color: transparent;
  font-size: 40px;
  font-weight: bold;
}

.input:focus {
  outline: none;
}

#submit-button {
  display: none;
}

#replay-button {
  align-self: center;
  text-align: center;
  width: 200px;
  height: 75px;
  margin: 20px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.invalid {
  border: 2px solid red;
}
